#chat {
    text-align: bottom;
    width: 30%;
    height: 300px;
    background: #eeeeee;
    overflow: auto;
}
body{
    margin: 0px;
    height: 100%;
}
html{
    height: 100%;
}
#message{
    background-color: blueviolet;
    width: auto;
    height: auto;
    border-radius: 5px;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-family: monospace;
}

/* Header */

#header{
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 0;
    width: 100%;
    height: 60px;
    z-index: 9;
    background-color: #41444b;
    box-shadow: 0px 4px 12px 0px #41444b40;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#loginBox{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login{
    margin: 5px;
    background-color: ivory;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.Liens{
    height: 100%;
    font-size: larger;
}
.link_button{
    height: 100%;
    background-color: inherit;
    border: none;
    color: ivory;
    cursor: pointer;
    transition: all .5s;
}
.link_button:hover{
    background-color: #fddb3a;
}
.link_button:focus {
    outline: 0;
}
#log_in_button{
    margin: 5px;
    color: #fddb3a;
}

/* app-content */

.app-content{
    background-color: #f6f4e6;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}

/* Left panel */

#menu{
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    height: auto;
    width: 20%;
    background-color: #fddb3a;
    box-shadow: 2px 4px 12px 0px #41444b90;
}
#leftPanel{
    background-color: #52575d;
    width: 60px;
    height: 100%;
    box-shadow: 2px 4px 12px 0px #41444b90;
}
#param{
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: fixed;
    bottom: 0px;
}
#paramButton{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #52575d;
    transition: all .5s;
    outline: 0;
}
#paramButton:hover {
    background-color: #414449;
}

/* Chat */

#chat{
    height: 100%;
    width: 100%;
}
#msg-input-zone{
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    color: white;
    background-color: #52575d;
}
#msg-bar{
    width: 90%;
    height: 100%;
    display: inline;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #414449;
}
#begin-msg-zone{
    display: inline;
    margin-left: 5px;
    font-weight: bold;
}
#msg-zone{
    height: 100%;
    margin: 5px;
}
