body {
    margin: 0px;
    height: 100%;
}

.button {
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: inherit;
    transition: all .5s;
}

button:hover {
    background-color: white;
}

button:focus {
    outline: 0;
}

html {
    height: 100%;
    font-family: monospace;
    color: white;
}


/* Messages */

.msg {
    margin: 2px;
    width: 100%;
    white-space: pre-line;
    overflow-wrap: break-word;
}


/* Header */

#header {
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 0;
    width: 100%;
    height: 60px;
    z-index: 9;
    background-color: #1e2124;
    box-shadow: 0px 1px 12px 0px #1a1c1f;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#loginBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    margin: 5px;
    background-color: ivory;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Liens {
    height: 100%;
    font-size: larger;
}

.link_button {
    height: 100%;
    background-color: inherit;
    border: none;
    color: ivory;
    cursor: pointer;
    transition: all .5s;
}

.link_button:hover {
    background-color: #fddb3a;
}

.link_button:focus {
    outline: 0;
}

#log_in_button {
    margin: 5px;
    color: #fddb3a;
}


/* app-content */

.app-content {
    background-color: #36393e;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}


/* Left panel */

#menu {
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    height: auto;
    width: 300px;
    background-color: #282b30;
    box-shadow: 1px 4px 12px 0px #20232710;
}

#leftPanel {
    background-color: #1e2124;
    width: 60px;
    height: 100%;
    box-shadow: 1px 4px 12px 0px #181a1d10;
}

#param {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: fixed;
    bottom: 0px;
}

#paramButton {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: inherit;
    transition: all .5s;
    outline: 0;
}

#paramButton:hover {
    background-color: #15171a;
}


/* Chat */

#chat {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#msg-input-zone {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0px;
    background-color: #52575d;
}

#msg-bar {
    width: 90%;
    color: white;
    height: 100%;
    display: inline;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #414449;
}

#msg-bar:focus {
    outline: 0;
}

#begin-msg-zone {
    display: inline;
    margin-left: 8px;
    font-weight: bold;
}

#msg-zone {
    height: auto;
    margin: 5px;
}

#isTyping {
    height: fit-content;
    width: fit-content;
}